body {
color: Black;
font-family: Verdana, Arial, Arial Black;
font-weight: normal;
}

h1, h2 {
border-bottom: 1px solid black;

}

b.blue {
color: blue;
font-size: 25px;


}

p.purple {

color: purple;
font-size: 25px;

}

.underline {

text-decoration: underline;

}
