body {
  background-color: #a0a3a0;
}

p {
  font-family: helvetica, arial;
  font-size: 20px;
  color: ##70b526;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

.rectangle1 {
  height: 100px;
  width: 500px;
  background-color: #555;
  float: left;
  display: inline-block;
}



.rectangle2 {
  height: 100px;
  width: 500px;
  background-color: #555;
  float: right;
  display: inline-block;
}

.rectangle3 {
  height: 100px;
  width: 500px;
  background-color: #555;
  float: left;
  display: inline-block;
}


body {
  background-image: image(grunge_concrete.jpg);

}


.rectangle4 {
  height: 100px;
  width: 500px;
  background-color: #555;
  float: right;
  display: inline-block;
}



.rectangle5 {
  height: 100px;
  width: 500px;
  background-color: #555;
  float: left;
  display: inline-block;
}

.center {
  text-align:center;
  width: 100%;
}

#content {
  padding: 4em;
}
