body {
  background-color: #a0a3a0;
}

h1 {
  color: ##70b526;
  text-align: center;
  font-family:helvetica, arial;
  font-size: 50px;
}

h2 {
  color: ##70b526;
  text-align: center;
  font-family:helvetica, arial;
  font-size: 50px;
}

h3 {
  color: ##70b526;
  text-align: center;
  font-family:helvetica, arial;
  font-size: 50px;
}

p {
  font-family: helvetica, arial;
  font-size: 20px;
  color: ##70b526;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

p {
  border: 2px solid black;
  outline: #878a87 solid 10px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

p {
  border: 2px solid #000000;
  padding: 30px;
}
